.container {
  color: lightgray;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  max-width: 600px;
  padding-top: 15em;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  margin: 0;
}

.poster {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
  max-height: 100vh;
  z-index: -1;
  filter: opacity(0.25);
}

.info {
  display: flex;
  align-items: center;
  gap: 1em;

  span {
    font-size: 0.8em;
    color: white;
    background-color: gray;
    padding: 0.2em 0.5em;
  }
}

.buttonsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;

  @media (max-width: 511px) {
    flex-direction: column;
    align-items: flex-start;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid white;
    padding: 0.8em 1.5em;
    border-radius: 5px;
    cursor: pointer;
  }

  .backButton {
    background-color: white;
    color: black;
  }

  .noFavButton {
    background-color: black;
    color: white;
  }
  .favButton {
    background-color: rgb(205, 0, 82);
    color: white;
  }

  .addButton {
    border-radius: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: black;
  }
}

p {
  font-weight: 100;
  font-family: system-ui;
  color: lightgray;
}

.relatedMovies {
  margin: 2em;

  h2 {
    color: lightgray;
    margin-bottom: 0;
    border-bottom: 1px solid lightgray;
  }
}
