body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #242424;
  color: white;
  font-family: 'Jost', sans-serif;
  gap: 2.5em;
}

:root,
#root {
  color-scheme: light dark;
}
